@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 100vh;
    width: 100vh;
    background-color: black;
}
main{
    height: 100vh;
    position: relative;
    background-color: green;
}